.typo {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.title,
.subtitle {
  line-height: 110%;
}

.title {
  font-size: 55px;
}

.subtitle {
  font-size: 44px;
}
