.form {
  width: 100%;
  max-width: 350px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: all 0.25s ease;

  .warn {
    font-size: 1rem;
    color: red;
    width: 100%;
  }

  .message {
    width: 100%;
    display: flex;
    gap: 10px;

    > {
      a {
        color: #6e9c9f;
      }
    }
  }
}
